img {
    height: 250px;
    width: 250px;
}


/* Media query */
@media screen and (min-width: 730px) {
    img {
        height: 220px;
        width: 220px;
    }
    
    h1 {
        align-items: center;
    }
    
    body {
        width: 100%;
    }
    
    .row-article {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    
    footer > .row {
        width: 100%;
    }
}

/* Media query */
@media screen and (max-width: 730px) {
    
    .col-4 {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .row {
        width: 100%;
    }
    
    footer > .row {
        width: 100%;
    }
}